Video_Face_Swap_Workflow_Clean.json
{
  "name": "Video Face Swap Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Video Face Swap",
        "formDescription": "Tải ảnh và video ở dưới",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "Video",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -80,
        -64
      ],
      "id": "47aa37e9-3218-4694-a03d-1a610ba8c58a",
      "name": "On form submission",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0100f2ac-5e96-4045-9390-b5c8dab38ff4",
              "name": "Image",
              "value": "={{ $json.secure_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -160
      ],
      "id": "3cb18049-7fbc-41e0-a0a0-d201d428ee35",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/YOUR_CLOUD_NAME/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "YOUR_UPLOAD_PRESET"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        -160
      ],
      "id": "c84c8bee-6b06-4024-9386-06c5cf897fe1",
      "name": "Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/YOUR_CLOUD_NAME/video/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "YOUR_UPLOAD_PRESET"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        80
      ],
      "id": "5a7b47f7-53c7-4dea-b3fa-bb77002cfe35",
      "name": "Video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0100f2ac-5e96-4045-9390-b5c8dab38ff4",
              "name": "Video",
              "value": "={{ $json.secure_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        80
      ],
      "id": "610a46aa-c5b1-4f64-a190-6e74a1f754eb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        144
      ],
      "id": "aeec0455-74d5-4408-b42e-5681da8757f2",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/wan/v2.2-14b/animate/replace",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"video_url\": \"{{ $json.Video }}\",\n     \"image_url\": \"{{ $json.Image }}\",\n     \"resolution\": \"720p\",\n     \"use_turbo\": true,\n     \"video_quality\": \"high\"\n   }",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        112
      ],
      "id": "79c0f40e-b6c5-43b8-aa73-2622ffc60632",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Fal.AI"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        112
      ],
      "id": "70e23c93-4947-468e-a996-2c2a6ee4a0ac",
      "name": "Wait",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/wan/requests/{{$json.request_id}}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1472,
        112
      ],
      "id": "ca0f0d75-1ba9-44d0-b165-1c9a5055d8df",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Fal.AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97567325-f594-4342-a873-806fcaf662bc",
              "leftValue": "={{$json.status}}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1584,
        -32
      ],
      "id": "1b0aa798-8358-4e6e-bdd1-29da9550086f",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/wan/requests/{{$json.request_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1808,
        -80
      ],
      "id": "0dc12a22-d0fe-424d-a07b-01654b211ac4",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Fal.AI"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Status",
        "height": 336,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        -64
      ],
      "typeVersion": 1,
      "id": "0a26b41b-cbcf-4504-9ebd-2718a4269b7d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Video",
        "height": 192,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        -128
      ],
      "typeVersion": 1,
      "id": "0fd3d634-71a7-4e49-a746-48a42ad2db16",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Post Image-Video",
        "height": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        48
      ],
      "typeVersion": 1,
      "id": "a1f8bfac-a018-49e3-bcc2-4409b2e22bd4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## WAN 2.2",
        "height": 480,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        -144
      ],
      "typeVersion": 1,
      "id": "d3d1b2d2-b74c-4d37-a34b-6be647796f5d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/kling-video/v2.6/pro/motion-control",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"image_url\": \"{{ $json.Image }}\",\n     \"video_url\": \"{{ $json.Video }}\",\n     \"character_orientation\": \"video\"\n   }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        672
      ],
      "id": "2e5fc8c3-50de-44f4-bc1e-780823956d3d",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Fal.AI"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        672
      ],
      "id": "efca4334-8160-466d-92a1-3a278e783392",
      "name": "Wait1",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{$json.request_id}}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        672
      ],
      "id": "43f7ed38-b221-43b2-b371-80a8bb37ff5c",
      "name": "HTTP Request5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Fal.AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97567325-f594-4342-a873-806fcaf662bc",
              "leftValue": "={{$json.status}}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        528
      ],
      "id": "6c29e9be-ec29-4531-a0b3-839d831809b5",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{$json.request_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1840,
        480
      ],
      "id": "2bfcbe34-e5af-4e56-a823-1934c8647229",
      "name": "HTTP Request6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Fal.AI"
        }
      }
    },
    {
      "parameters": {
        "content": "## KLING AI 2.6",
        "height": 480,
        "width": 1040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        464
      ],
      "typeVersion": 1,
      "id": "67178bba-0ecf-4cb0-839d-9099cec94739",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Post Image-Video",
        "height": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        624
      ],
      "typeVersion": 1,
      "id": "4353a55c-4249-4f11-be16-c12df6c7a51b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Get Status",
        "height": 304,
        "width": 608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        512
      ],
      "typeVersion": 1,
      "id": "09a77ea2-2c52-4a4b-837d-f393cbf261a1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Get Video",
        "height": 240,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        448
      ],
      "typeVersion": 1,
      "id": "91436056-5384-4232-8fad-e92f7e73ff6e",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
